.picture {
	width: 100%;
	display: grid;	
	grid-gap: 32px;
	grid-auto-flow: row;
	flex-direction: row;
	grid-template-rows: auto;
	grid-template-columns: 1fr;
	
	&__item {
		display: block;
		width: 100%;
		height: auto;
		object-fit: cover;
	}
	
	@media (min-width: 700px) {

		&--one {
			grid-template-rows: auto;
			grid-template-columns: 1fr;
		}

		&--two {
			grid-template-rows: auto;
			grid-template-columns: 1fr 1fr;
		}

		&--three {
			grid-template-rows: auto auto;
			grid-template-columns: 1fr 1fr;

			& .picture__item {
				
				&:first-child {
					grid-row: span 2;
				}

			}

		}

		// grid-auto-flow: column;	
	}

}