.contact-infos {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto auto;
	margin-top: 64px;
	grid-gap: 32px;
	
	@media (min-width: 1200px) {
		grid-template-columns: 480px 400px;
	}
	
}